/* Styles for your homework one assignment */
body {
  font-family: verdana;
  width:60vh;
  margin: auto;
  background-image: url('../images/beanstalk.png');
}

a{
  text-decoration: none;
  color: black;
}

a:hover{
  color: white;
}

.circle-holder{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.circle-holder div{
  width: 200px;
  height: 200px;
  border-radius:50%;
  border: 1px solid black;
}

.circle-holder div:nth-child(1){
  background-color: #FF8599;
}

.circle-holder div:nth-child(2) {
  background-color: #6BD3FF;
}
