/* Styles for your homework one assignment */
body {
  font-family: 'Fahkwang', sans-serif;
  background-image: url('../images/beanstalk.png');
  width: 80vh;
  margin:auto;
}

h1{
  font-size:45px;
  margin-top:20px;
  margin-bottom: 10px;
}

h2{
  font-size:25px;
}

img{
  align-items: center;
}

a{
  text-decoration: none;
  color: white;
  font-size: 20px;
  font-family: 'Fahkwang', sans-serif;
  font-weight:200;
  text-align: center;
}

a:hover{
  color: blue;
}

button{
  align-items: center;
  border: none;
  background-color: black;
  padding-top: 10px;
  padding-bottom:10px;
  padding-left:20px;
  padding-right:20px;
}

.nav-buttons{
  margin-top: 0;
  margin-bottom:20px;
}
